* {
  margin: 0px;
}
.hero-section-container {
  background-image: url(./images/hero\ -section-bg-.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-left: 20%;
}
.nav-link {
  font-size: 15px;
}
.button-one {
  background-color: green;
  color: white;
  margin-right: 10px;
  padding-left: 20px;
}
.button-two {
  background-color: rgb(0, 128, 255);
  color: white;
  margin-right: 10px;
  padding-left: 20px;
}
.button-three {
  background-color: rgb(19, 2, 55);
  color: white;
  margin-right: 10px;
  padding-left: 20px;
}
